* {
   font-family: "Open Sans";
   margin: 0px;
}

.container-fluid {
   width: 95%;
}

.title {
   text-align: center;
}


/* Removes gutters added by Bootstrap */

.no-gutter {
   padding: 0px;
}

.table {
   margin-top: 10px;
}

.preference-btn {
   font-weight: 600;
   border: 2px solid #aaaaaa;
}

.checkbox {
   padding: 0px;
   margin: 0px;
}

.add-text {
   font-size: 14px;
   font-weight: 600;
}

.modal-title {
   text-align: center;
}

.modal-row {
   margin-top: 10px;
}

.add-btns {
   width: 100%;
}

.preference-table {
   display: block;
   height: 200px;
   overflow: auto;
   margin-bottom: 10px;
}

.preference-modal {
   height: 600px;
}
