<div class="container">

   <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
         <div id="login-form">
            <img id="logo" src="static/images/logo.png">
            
            <form ng-submit="login()">
               <input type="text" name="username" ng-model="username" placeholder="Username" required class="form-control" />

               <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required="" />
               <p id="forgotPassword"><a href="#">Forgot password?</a></p>
               
               <div ng-show="error" class="alert alert-danger">Incorrect username and/or password</div>

               <button type="submit"  class="btn btn-lg btn-primary btn-block">LOG IN</button>
            </form>
               <button name="guest" class="btn btn-lg btn-success btn-block" ng-click="continueAsGuest()">CONTINUE AS GUEST</button>


         </div>

         <div class="col-md-4"></div>


      </div>
   </div>
</div>