<div class="container">

	<div class="row">
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<section class="login-form">
				<form method="post" action="#" role="login">
					<input type="text" name="username" ng-model="username" required class="form-control input-lg" />

					<input type="password" class="form-control input-lg" id="password" ng-model="password" required="" />

					<button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Log in</button>
					<button name="guest" class="btn btn-lg btn-success btn-block">Continue as Guest</button>

				</form>


			</div>

			<div class="col-md-4"></div>


		</div>
	</div>