<!--
Things that change dynamically:
   - List of terms in the filters
   - List of courses in the filters
   - List of instructors
   - Resulting tables that display (each term that is needed)
   - Each entry for the term tables and its attributes
   In post feedback popup:
      - Terms available to leave feedback on
-->
<!-- Page to create sections for a particular quarter -->
<div class="container-fluid ">
   <div class="row top-selectors">
      <div class="row">
         <div ng-show="!published" class="col-xs-2 col-xs-offset-5">
            <button class="btn btn-default preference-btn col-xs-12" ng-click="publishSchedule(1)">PUBLISH</button>
         </div>
         <div ng-show="published" class="col-xs-2 col-xs-offset-5">
            <button class="btn btn-default preference-btn col-xs-12" ng-click="publishSchedule(0)">UNPUBLISH</button>
         </div>
      </div>
      <!-- Displays the selected quarter -->
      <div class="row">
         <div class="col-xs-12">
            <h3>{{schedule.quarter}}</h3>
         </div>
      </div>
      <!-- Displays all sections for the given quarter -->
      <div class="row">
         <div class="col-xs-12 listing">
            <table class="table table-striped">
               <tr class="success">
                  <th></th>
                  <th>Course</th>
                  <th>Section</th>
                  <th>Type</th>
                  <th>Hours</th>
                  <th>Room</th>
                  <th>Instructor</th>
                  <th>Days</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Capacity</th>
               </tr>
               <tr ng-repeat="section in sections">
                  <td>
                     <input type="radio" name="room" value="{{section.id}}" ng-model="$parent.random" ng-click="radioChanged(section)">
                  </td>
                  <td>{{section.course}} {{section.course_num}}</td>
                  <td>{{section.number}}</td>
                  <td>{{section.section_type}}</td>
                  <td>{{section.hours}}</td>
                  <td>{{section.room}}</td>
                  <td>{{section.faculty}}</td>
                  <td>{{section.days}}</td>
                  <td>{{section.time_start}}</td>
                  <td>{{section.time_end}}</td>
                  <td>{{section.capacity}}</td>
               </tr>
            </table>
         </div>
      </div>

      <div class="row">
         <div class="col-xs-2 col-xs-offset-3">
            <button class="btn btn-default preference-btn col-xs-12" data-target="#add-modal" data-toggle="modal" >ADD SECTION</button>
         </div>
         <div class="col-xs-2">
            <button class="btn btn-default preference-btn col-xs-12" data-target="#edit-modal" data-toggle="modal" ng-click="openEdit()" ng-disabled="!radioSelected">EDIT SECTION</button>
         </div>
         <div class="col-xs-2 ">
            <button class="btn btn-default preference-btn col-xs-12 " ng-disabled="!radioSelected" ng-click="deleteSection()">REMOVE SECTION</button>
         </div>
      </div>
      <!-- Modal to add section to course -->
      <div id="add-modal" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-title">
                  <h3>Add Section</h3>
               </div>
               <div class="modal-body">
                  <div class="row modal-row">
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Course</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="add.course_id" class="form-control">
                              <option ng-repeat="course in courses | orderBy: 'number'" value="{{course.id}}">{{course.major}} {{course.number}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Faculty</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="add.faculty_id" class="form-control">
                              <option ng-repeat="fac in faculty" ng-value="{{fac.id}}">{{fac.last_name}}</option>
                              
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Section Number</label>
                        </div>
                        <div class="col-xs-6">
                           <input type="number" ng-model="add.sectionNumber" class="form-control">
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Type</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="add.compType" class="form-control">
                              <option ng-repeat="compType in componentTypes" value="{{compType.name}}">{{compType.name}}</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Start Time</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="add.time_start" class="form-control">
                              <option ng-repeat="(value, time) in startTimes" value="{{value}}">{{time}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>End Time</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="add.time_end" class="form-control">
                              <option ng-repeat="(value, time) in endTimes" value="{{value}}">{{time}}</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Room</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="add.room_id" class="form-control">
                              <option ng-repeat="room in rooms" value="{{room.id}}">{{room.number}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Days</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="add.days" class="form-control">
                              <option>MWF</option>
                              <option>TR</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-offset-3">
                        <div class="col-xs-4">
                           <button class="btn btn-default preference-btn add-btns" data-dismiss="modal">CANCEL</button>
                        </div>
                        <div class="col-xs-4">
                           <button class="btn btn-default preference-btn add-btns" ng-click="addSection()">SAVE</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal to edit section info -->
      <div id="edit-modal" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-title">
                  <h3>Edit Section</h3>
               </div>
               <div class="modal-body">
                  <div class="row modal-row">
                      <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Course</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="edit.course_id" class="form-control">
                              <option ng-repeat="course in courses | orderBy: 'number'" value="{{course.id}}">{{course.major}} {{course.number}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Faculty</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="edit.faculty_id" class="form-control">
                              <option ng-repeat="fac in faculty" ng-value="{{fac.id}}">{{fac.last_name}}</option>
                              
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Section Number</label>
                        </div>
                        <div class="col-xs-6">
                           <input type="number" ng-model="edit.sectionNumber" class="form-control">
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Type</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="edit.compType" class="form-control">
                              <option ng-repeat="compType in componentTypes" value="{{compType.name}}">{{compType.name}}</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Start Time</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="edit.time_start" class="form-control"> 
                              <option ng-repeat="(value, time) in startTimes" value="{{value}}">{{time}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>End Time</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="edit.time_end" class="form-control">
                              <option ng-repeat="(value, time) in endTimes" value="{{value}}">{{time}}</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Room</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="edit.room_id" class="form-control">
                              <option ng-repeat="room in rooms" value="{{room.id}}">{{room.number}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xs-6">
                        <div class="col-xs-6">
                           <label>Days</label>
                        </div>
                        <div class="col-xs-6">
                           <select ng-model="edit.days" class="form-control">
                              <option>MWF</option>
                              <option>TR</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row modal-row">
                     <div class="col-xs-offset-3">
                        <div class="col-xs-4">
                           <button class="btn btn-default preference-btn edit-btns" data-dismiss="modal">CANCEL</button>
                        </div>
                        <div class="col-xs-4">
                           <button class="btn btn-default preference-btn edit-btns" ng-click="editSection()">SAVE</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
