<!-- Page that displays all faculty preference information -->
<div class="container-fluid" style="margin-top: 10px;">
   <!--   Page Title   -->
   <div class="row title-pref">
      <h1 class="title-pref text-center">Historic Data</h1>
   </div>
   <form>
      <div class="row dropdown-row">
         <div class="col-xs-4 col-xs-offset-4">
            <select class="form-control" id="termSelect" ng-change="selectTerm()" ng-model="currentTerm">
             <option ng-repeat="term in terms" value="{{term.name}}">{{term.name}}</option>
          </select>
       </div>
    </div>
    </form>
    <div class="row">
      <div class="col-xs-12">
         <table class="table table-striped">
            <tr class="success">
               <th>Course</th>
               <th>Number of Sections</th>
               <th>Total Enrollment</th>
               <th>Waitlist</th>
            </tr>
            <tr ng-repeat="hData in historicData | orderBy: 'course_number'">
               <td>{{hData.course_major}} {{hData.course_number}}</td>
               <td>{{hData.number_sections}}</td>
               <td>{{hData.total_enrollment}}</td>
               <td>{{hData.waitlist}}</td>
            </tr>
         </table>
      </div>
   </div>
</div>
