body {
   background-color: #C0C0C0;
}
#login-form {
   background-color: white;
   padding: 30px;
   border-radius: 3px;
   max-width: 400px;
   margin: 0 auto;
   margin-top: 10em;
}
#login-form * {
   margin-top: 10px;
   margin-bottom: 10px;
}
#logo {
   display: block;
    margin: 0 auto;
    width: 60px;
   height: 60px;
}
#forgotPassword {
   text-align: right;
}
