<div class="container-fluid ">
    <div class="row top-selectors">
        <div ng-show="role == 'student'" class="row">
            <div class="col-xs-12">
                <div class="col-xs-1 no-gutter">
                    <button name="back-btn" href="#/login" ng-click="backButtonClicked()" class="back-btn">
                  <img class="arrow" src="static/images/left-arrow.png" />
            </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 no-gutter view-selectors">
                <div class="col-xs-6 no-gutter">
                    <a class="btn btn-default view-switch calendar-view-btn">CALENDAR VIEW</a>
                </div>
                <div class="col-xs-6 no-gutter">
                    <a class="btn btn-default view-switch" href="#/viewScheduleTableStudent" role="button">TABLE VIEW</a>
                </div>
            </div>
            <div ng-show="role == 'student'" class="col-xs-2 no-gutter col-xs-offset-2 ">
                <button id="post-btn" type="button" class="btn btn-default view-switch" data-toggle="modal" data-target="#myModal">POST FEEDBACK</button>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-xs-2 no-gutter col-xs-offset-10">
                <a class="btn btn-default view-switch" href="#" role="button">APPLY FILTERS</a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body" style="text-align: center">
                        <h3 class="modal-title">Feedback</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="userID">User ID:</label>
                            <input class="form-control" id="userID">
                        </div>
                        <div class="form-group">
                            <label for="termSelects">Term:</label>
                            <select class="form-control" id="termSelects">
                                <option ng-repeat="term in terms | orderBy: ['-year', '-quarterId']">{{term.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">

                            <textarea class="form-control noresize" id="encCss" placeholder="Enter feedback here"></textarea>
                        </div>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        <button type="button" class="btn btn-default preference-btn" data-dismiss="modal">CANCEL</button>
                        <button type="button" class="btn btn-default preference-btn" data-dismiss="modal">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-xs-2 col-xs-offset-1">
                <label>Terms:</label>
                <div class="col-xs-12 filter-selectors">
                    <form>
                        <div class="checkbox">
                            <label ng-repeat="term in terms | orderBy: ['-year', '-quarterId']">
                                <input type="checkbox" name="term{{term.id}}" value="{{term.id}}" ng-model="checkedTerms[term.id]">{{term.name}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-2">
                <label>Courses:</label>
                <div class="col-xs-12 filter-selectors">
                    <form>
                        <div class="checkbox">
                            <label ng-repeat="course in courses | orderBy: 'number'">
                                <input type="checkbox" name="course{{course.id}}" value="{{course.id}}" ng-model="checkedCourses[course.id]">{{course.major}} {{course.number}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-2">
                <label>Instructors:</label>
                <div class="col-xs-12 filter-selectors">
                    <form>
                        <div class="checkbox">
                            <label ng-repeat="instructor in instructors | orderBy: 'last_name'">
                                <input type="checkbox" name="instructor{{instructor.id}}" value="{{instructor.id}}" ng-model="checkedInstructors[instructor.id]">{{instructor.last_name}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-2">
                <label>Start Times:</label>
                <div class="col-xs-12 filter-selectors">
                    <form>
                        <div class="checkbox">
                            <label ng-repeat="(value, time) in startTimes">
                                <input type="checkbox" name="starttime{{value}}" value="{{value}}" ng-model="checkedStartTimes[value]">{{time}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-2">
                <label>End Times:</label>
                <div class="col-xs-12 filter-selectors">
                    <form>
                        <div class="checkbox">
                            <label ng-repeat="(value, time) in endTimes">
                                <input type="checkbox" name="endtime{{value}}" value="{{value}}" ng-model="checkedEndTimes[value]">{{time}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--    calendar display-->
    <!--   Tables   -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 cal-listing">
            <table class="table table-striped fac-calendar-table table-bordered">
                <tr class="active">
                    <th style="width: 130px;"> </th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                </tr>
                <tr>
                    <td>7:00AM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>7:30AM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>8:00AM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>8:30AM</td>
                    <td> </td>
                    <td class="success">
                        <a type="text/javascript" data-toggle="popover">See Details</a>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>9:00AM</td>
                    <td> </td>
                    <td class="success">
                        <a type="text/javascript" data-toggle="popover">See Details</a>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>9:30AM</td>
                    <td> </td>
                    <td class="success">
                        <a type="text/javascript" data-toggle="popover">See Details</a>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>10:00AM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>10:30AM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>11:00AM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>11:30AM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>12:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>12:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>1:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="success">
                        <a type="text/javascript" data-toggle="popover">See Details</a>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>1:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="success">
                        <a type="text/javascript" data-toggle="popover">See Details</a>
                    </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>2:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>3:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>3:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>4:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>4:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>5:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>5:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>6:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>6:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>7:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>7:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>8:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>8:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>9:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>9:30PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr style="border-bottom: .5px solid #dddddd;">
                    <td>10:00PM</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

            </table>
        </div>

        <!-- SIDE PANEL CLASS DETAILS
<div class="col-xs-3 col-xs-offset-1 details-pane text-center">
    <h3>8:30AM - 9:00AM Details</h3>
    <table style=" margin-top: 20px;" class="table details-table">
        <tr>
            <td>CPE 101-01</td>
            <td>14-255</td>
            <td>Lecture</td>
        </tr>
        <tr>
            <td>CPE 101-02</td>
            <td>14-256</td>
            <td>Lab</td>
        </tr>
    </table>
</div>
-->
    </div>
</div>
