<div class="container-fluid">

   <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
         <div id="box-container">
            <h2>{{name}}</h2>
            
            
            
            <button class="btn btn-lg btn-block" ng-click="continueAsGuest()">Preferences</button>
            <button class="btn btn-lg btn-block" ng-click="continueAsGuest()">Your Schedule</button>
            <button class="btn btn-lg btn-block" ng-click="continueAsGuest()">View Published Schedules</button>
            <button id="logoutBtn" class="btn btn-lg btn-block" ng-click="continueAsGuest()">Log Out</button>
            <p id="reportBug"><a href="#">Report a Bug</a></p>

         </div>

         <div class="col-md-4"></div>


      </div>
   </div>
</div>