<div class="container-fluid text-center" style="margin-top: 10px;">
    <!--   Page Title   -->
    <div class="row title-pref">
        <h1 class="title-pref">Preferences</h1>
    </div>
    <div class="row dropdown-row">
        <div class="col-xs-1 col-xs-offset-9 dropdown-row">
            <label for="termSelect">Select day:</label>
        </div>
        <div class="col-xs-1 no-padding">
            <select class="form-control selector" id="termSelect" ng-model="dayChoice" ng-change="dayChanged()">
                                <option ng-selected="true">Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
            </select>
        </div>
    </div>
    <div class="row table-row">
        <!------------LEFT TABLE--------------> 
        <div class="col-xs-5 col-xs-offset-1 table-row pref-table-1">
            <table class="table table-striped">
                <tr class="success">
                    <th style="text-align: left">Class</th>
                    <th style="text-align: left">Teaching Ability</th>
                </tr>
                <tr ng-repeat="course in courses | orderBy: 'number'">
                    <td>{{course.major}} {{course.number}} {{course.course_name}}</td>
                    <td><select class="form-control selector" id="termSelect" ng-model="preference">
                        <option>Most wanted</option>
                        <option>Able to teach</option>
                        <option ng-selected="true">Cannot teach</option>
                        </select>
                    </td>
                </tr>


    
            </table>


        </div>
        <!------------RIGHT TABLE-------------->
        <div class="col-xs-5 col-xs-offset-1 table-row pref-table-2">
            <table class="table table-striped">
                <tr class="success">
                    <th>Times</th>
                    <th>Desirable</th>
                    <th>Available</th>
                    <th>Unavailable</th>
                </tr>
                <tr>
                    <td>7:00AM - 7:30AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time1" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time1" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time1" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7:30AM - 8:00AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time2" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time2" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time2" value="start-700"> <br>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>8:00AM - 8:30AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time3" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time3" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time3" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8:30AM - 9:00AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time4" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time4" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time4" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9:30AM - 10:00AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time5" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time5" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time5" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>10:00AM - 10:30AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time6" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time6" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time6" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>10:30AM - 11:00AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time7" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time7" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time7" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>11:00AM - 11:30AM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time8" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time8" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time8" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>11:30AM - 12:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time9" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time9" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time9" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>12:00PM - 12:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time10" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time10" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time10" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>12:30PM - 1:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time11" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time11" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time11" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1:00PM - 1:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time12" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time12" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time12" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1:30PM - 2:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time13" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time13" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time13" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2:00PM - 2:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time14" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time14" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time14" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2:30PM - 3:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time15" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time15" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time15" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3:00PM - 3:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time16" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time16" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time16" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3:30PM - 4:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time17" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time17" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time18" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4:00PM - 4:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time19" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time19" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time19" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4:30PM - 5:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time20" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time20" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time20" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5:00PM - 5:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time21" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time21" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time21" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5:30PM - 6:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time22" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time22" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time23" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>6:00PM - 6:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time24" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time24" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time24" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>6:30PM - 7:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time25" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time25" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time25" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7:00PM - 7:30PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time26" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time26" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time26" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7:30PM - 8:00PM</td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time27" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time27" value="start-700"> <br>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="radio" name="time27" value="start-700"> <br>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
      <form ng-submit="plusButtonClicked()">
        <div class="col-xs-5 col-xs-offset-1 form-group-c table-row" style="padding-right: 40px;">
            <input class="form-control" type="text" style="padding-right: 0px;" id="search-courses" placeholder="Search a course" ng-model="number">
        </div>
        <div class="col-xs-1 form-inline" style="text-align: left; margin-top: -18px; padding-left: 0px; margin-left: -35px;">
            <button class="plus-btn" type="submit" style="padding-left: 0px;">
                  <img class="plusBtn" src="static/images/plusbtn.png" />
            </button>
        </div>
      </form>
    </div>
    <div class="row bottom-row">
        <div class="row text-center" style="display:inline;">
            <div class="col-xs-3 form-inline" style="margin-left: 0px; padding-left:100px;padding-right:0px;">
                <h4 style="font-weight:600; margin:5px; ">Workload Range</h4>
            </div>
            <div class="col-xs-3" style="padding-right: 0px;padding-left: 0px;">
                <div class="form-group-a form-inline">
                    <label for="min-workload">Min:</label>
                    <input type="text" class="form-control work-input" id="min-workload" placeholder="0.00">
                </div>
            </div>
            <div class="col-xs-3" style="padding-right: 0px;padding-left: 0px;">
                <div class="form-group-b form-inline">
                    <label for="max-workload">Max:</label>
                    <input type="text" class="form-control work-input" id="max-workload" placeholder="0.00">
                </div>
            </div>
            <div class="col-xs-1 col-xs-offset-1 form-inline">
                <button class="btn btn-default preference-btn save-btn">SAVE</button>
            </div>
        </div>
    </div>
</div>
