<div class="container-fluid no-gutter">
    <div class="row form-inline text-center">
        <select class="form-control term-selector" id="quarterSelect" ng-options="term.name for term in terms" ng-model="checkedTerms" ng-change="applyFilters()">
            <!--<option ng-repeat="term in terms" name="term{{term.id}}" value="{{term.id}}">{{term.name}}</option>-->
        </select>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="text-align: center">
                    <h3 class="modal-title">Feedback</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="userID">User ID:</label>
                        <input class="form-control" id="userID">
                    </div>
                    <div class="form-group">
                        <label for="termSelect">Term:</label>
                        <select class="form-control" id="termSelect">
                                <option>Fall 2017</option>
                                <option>Winter 2017</option>
                                <option>Spring 2017</option>
                                <option>Summer 2017</option>
                             </select>
                    </div>
                    <div class="form-group">

                        <textarea class="form-control noresize" id="encCss" placeholder="Enter feedback here"></textarea>
                    </div>
                </div>
                <div class="modal-body" style="text-align: center">
                    <button type="button" class="btn btn-default preference-btn" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-default preference-btn" data-dismiss="modal">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>



    <!--    calendar display-->
    <!--   Tables   -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 cal-listing">
            <table class="table table-striped fac-calendar-table table-bordered">
                <tr class="active">
                    <th style="width: 130px;"> </th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                </tr>
                <tbody class="table-body">
                    <tr ng-repeat="startTimes in startTimes" ng-if="section.faculty == faculty.id && section.term_id == term.id">
                        <td>{{startTimes}}</td>
                        <td>{{MWFsections}}</td>
                        <td>{{TRsections}}</td>
                        <td>{{MWFsections}}</td>
                        <td>{{TRsections}}</td>
                        <td>{{MWFsections}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--ALL COURSES-->
<div class="row form-inline text-center">
    <label ng-repeat="course in courses | orderBy: 'number'" name="course{{course.id}}" value="{{course.id}}" ng-model="checkedCourses[course.id]">{{course.major}} {{course.number}} /</label>
</div>

<div class="row form-inline text-center">
    <label ng-repeat="instructor in instructors | orderBy: 'last_name'" name="instructor{{instructor.id}}" value="{{instructor.id}}" ng-model="checkedInstructors[instructor.id]">{{instructor.last_name}} /
                            </label>
</div>
