input[type="checkbox"] {
    margin-top: 0;
    line-height: normal;
}

thead {
    background-color: #CBE8BA;
}

.admin-table>th {
    text-align: center !important;
}

.admin-table-2>td {
    text-align: center !important;
}

.view-switch {
    color: #606060;
    font-weight: 600;
    border: 3px #aaaaaa solid;
}

.btn-container a {
    display: inline;
}

.back-btn {
    margin-top: -15px;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
