input[type="checkbox"] {
   margin-top: 0;
   line-height: normal;
}

thead {
   background-color: #CBE8BA;
}

th {
   text-align: center;
}

.view-switch {
   color: #606060;
   font-weight: 600;
   border: 3px #aaaaaa solid;
}

.btn-container a {
   display: inline;
}
